.card {
    width: 100%;
    height: fit-content;

    mat-card-title {
        color: var(--color-dark);
    }

    mat-card-content {
        code {
            color: var(--color-dark);
        }
    }
}