<mat-sidenav-container>
  <!--SIDENAV-->
  <mat-sidenav #sidenav position="end" mode="over" class="aside-nav bg-danger">End</mat-sidenav>
  <mat-sidenav-content>
    <!--NAVBAR-->
    <header class="container-fluid d-flex align-items-center"
      [ngClass]="{'justify-content-between': isMobileSizeScreen}">
      <nav class="w-100">
        <app-navbar></app-navbar>
      </nav>
      <button [ngClass]="{'d-none': !isMobileSizeScreen}" type="button" mat-button (click)="sidenav.toggle()">
        Toggle sidenav
      </button>
    </header>
    <!--MAIN CONTENT-->
    <main class="container">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>