<mat-sidenav-container>
  <!--SIDENAV-->
  <mat-sidenav #sidenav position="end" mode="over" class="aside-nav">
    <!--The bind method allows you to bind the value of this to a function,
    ensuring that when it is called, the context (this) remains what you want.-->
    <app-navbar-link [styleClasses]="'d-flex flex-column align-items-start w-100 h-100 p-3'"
      [activeLi]="'active-li-sidenav'" [closeSideNav]="closeSideNav.bind(this)" />
  </mat-sidenav>
  <mat-sidenav-content>
    <!--NAVBAR-->
    <header class="container-fluid d-flex align-items-center"
      [ngClass]="{'justify-content-between': isMobileSizeScreen}">
      <nav class="d-flex justify-content-between align-items-center">
        <!--create generic comp fo logo-->
        <div>LOGO</div>
        <app-navbar-link [styleClasses]="'d-flex justify-content-center align-self-end'" [activeLi]="'active-li'"
          [ngClass]="{'d-none': isMobileSizeScreen}" />
      </nav>
      <button mat-mini-fab aria-label="button menu" [ngClass]="{'d-none': !isMobileSizeScreen}" type="button"
        (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </header>
    <!--MAIN CONTENT-->
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>